
*, *::after, *::before{
    box-sizing: border-box;
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --color-primary: #108A00;
    --color-secondary: #7B5ED4;
    --color-dark: #000000;
    --color-light: #D9D9D9;
    --color-white: #FFFFFF;
    --color-white-1: #928E8E;
    --color-white-2: #A5A5A5;
    

    font-family: Helvetica, sans-serif;

    --h1-size: 44px; 
    --h1-lineheight: 44px;
    --h1-weight: 800;

    --h2-size: 34px; 
    --h2-lineheight: 21.1px;
    --h2-weight: 600;

    --h4-size: 24px; 
    --h4-lineheight: 26.5px;
    --h4-weight: 500;

    --h5-size: 20px; 
    --h5-lineheight: 30px;
    --h5-weight: 400;

    --h6-size: 18px; 
    --h6-lineheight: 21.1px;
    --h6-weight: 300;

    --link-size: 14px; 
    --link-lineheight: 16px;
    --link-weight: 200;

    --p-size: 16px; 
    --p-lineheight: 20px;
    --p-weight: 400;

    --padding: 8px;
    --border-radius: 8px;
    --padding-2:16px;
}
body{
    overflow-x: hidden;
}
h1{
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    line-height: var(--h1-lineheight);
}
h2{
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    line-height: var(--h2-lineheight);
}
h4{ 
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    line-height: var(--h4-lineheight);
}
h5{
    font-size: var(--h5-size);
    font-weight: var(--h5-weight);
    line-height: var(--h5-lineheight);
}
h6{
    font-size: var(--h6-size);
    font-weight: var(--h6-weight);
    line-height: var(--h6-lineheight);
}
p{
    font-size: var(--p-size);
    font-weight: var(--p-weight);
    line-height: var(--p-lineheight);
}
a{  
    text-decoration: none;
    font-size: var(--link-size);
    font-weight: var(--link-weight);
    line-height: var(--link-lineheight);
    color: var(--color-dark);
}
.primary-button{
    padding: var(--padding) var(--padding-2);
    font-size: var(--p-size);
    font-weight: var(--p-weight);
    line-height: var(--p-lineheight);
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius);
    border: 0px;
}
.secondary-button{
    padding: var(--padding) var(--padding-2);
    font-size: var(--p-size);
    font-weight: var(--p-weight);
    line-height: var(--p-lineheight);
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius);
}
.dark-button{
    padding: var(--padding) var(--padding-2);
    color: var(--color-white);
    background-color: var(--color-dark);
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.sub-btn{
    display: flex;
    gap: 8px;
    border-radius: var(--padding-2);
    padding: var(--padding);
    border: 1px solid var(--color-white);
    color: var(--color-white);
    background-color: transparent;
}
.ter-button{
    color: var(--color-dark);
    background-color: var(--color-white);
    padding: 8px;
    border: none;
    border-radius: 8px;
}


/* Header */

.header{
    padding: var(--padding-2);
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
     
}
.nav, .nav>ul, .has-hover:hover, .header-cta{
    display: flex;
    gap: var(--padding-2);
    align-items: center;
    flex-wrap: nowrap;
    
}
.nav>ul{
    list-style-type: none;
}
.header-hover{
    display: none;
}

.logo{
    width: auto;
    height: 22px;
}
.nav-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}


/* Hero Banner */
.hero-banner-container{
    margin: var(--padding-2);
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    min-height: 440px;
    max-height: 480px;
    margin: 16px auto;
}
.promo-banner{
    height: 56px;
    width: 80%;
    display: flex;
    background-image: linear-gradient(to right, 
    #D6D97C 0%,
    #BEE18D 25%,
    #A6E89E 100%);
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-2);
    border-radius: var(--padding-2);
}
.promo-banner>a{
    text-decoration: underline;
}

.hero-banner{
    background-image: url("./images/Backgrounds/hero-dark-tone-lg.jpg");
    color: var(--color-white);
    padding: var(--padding-2);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    height: auto;
    border-radius: var(--padding-2);
}
.hero-banner-text{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    gap: 32px;
    width: 55%;
    padding: 32px --padding-2;
}

.hero-search-container{
    background-image: linear-gradient(to right, 
    #373737 0%,
    #264522 98%);
    border-radius: var(--padding-2);
    height: auto;
    padding: var(--padding-2) calc(var(--padding-2)*2);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--padding-2);
}
.hero-search-cta{
    display: flex;
    width: 100%;
    background-image: linear-gradient(to right, 
    #575757 0%,
    #A7A5A5 100%);
    border-radius: var(--padding-2);
}
.hero-hire, .hero-work{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: var(--padding);
    border-radius: var(--padding-2);
}
.hero-hire{
    border: 1px solid white;
}



.hero-search-bar{
    /* Search Bar */
    display: flex;
    background-color: var(--color-white);
    border-radius: 32px;
    color: var(--color-white-1);
    padding: var(--padding) var(--padding-2);
    align-items: center;
    justify-content: space-between;
}
.explore{
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--padding-2);
    align-items: center;
}

.sub-button-container{
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-2);
}


/* Hero-Banner-Ends */

/* trusted companies */
.container-trusted{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px auto;
    padding: 16px;
    gap: 16px;
}
.trusted-heading>p{
    color: var(--color-white-2);
    text-align: center;
    font-weight: 200;
}
.trusted-logo{
    display: flex;
    flex: 0 0 auto; 
    justify-content: center;
    align-items: center;
    gap: calc(var(--padding-2)*2);
    flex-wrap: wrap;
}
.trusted-logo>img{
    min-height: 16px;
    max-height: 22px;
}


/* trusted companies ends */



/* find freelancer start */
.find-freelancer-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    gap: var(--padding-2);
    text-align: center;
    margin: 16px auto;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.grid-find-freelancer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.grid-item{
    max-width: 170px;
    min-width: 176px;
    max-height: 144px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border: 1px solid rgba(146, 142, 142, 80);
    border-radius: 16px;
    align-items: flex-start;
    text-align: left;
}
.grid-item>img{
    max-height: 45px;
    min-height: 42px;
}
/* find freelancer ends  */

/* How it works */
.how-it-works-container{
    display: flex;
    flex-direction: column;
    margin: var(--padding-2);
    padding: var(--padding-2);
}
.how-it-works-title{
    /* Title Container */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}
/* Button */
.cta-how-it-works{
    font-size: var(--p-size);
    font-weight: var(--p-weight);
    line-height: var(--p-lineheight);
    border-radius: 16px;
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
    height: auto;
    width: auto;
}
.for-hiring, .for-working{
    color: var(--color-dark);
    padding: var(--padding);
    border-radius: 16px;
    border: 0;
    background-color: var(--color-white);
}
.for-hiring{
    border: 1px solid var(--color-dark);
}

.forworking-content-container{
    display: none;
    gap: var(--padding);
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 16px auto;
}

.forhiring-content-container{
    display: flex;
    gap: var(--padding);
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 16px auto;
}
.forhiring-content-container>div, .forworking-content-container>div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding: 8px;
    min-width: 300px;
    max-width: 325px;
}
.forhiring-content>img, .forworking-content>img{
    border-radius: 32px;
    min-width: 320px;
    max-width: 340px;
    height: auto;
}
.link-while-activate{
    display: none;
    flex-direction: column;
    color: var(--color-white-2);
    gap: var(--padding-2);
}
.forhiring-content:hover .link-while-activate, .forworking-content:hover .link-while-activate{
    display: flex;
}
/* How it works ends */




/* Freelancer Container Start */
.freelancer-pricing-container{
    background-color: #181818;
    display: flex;
    height: auto;
    gap: 16px;
    justify-content: center;
    align-items: stretch;
    width: 55%;
    border-radius: 32px;
    margin: 16px auto;
}
.freelancer-pricing{
    background-image: url(./images/Backgrounds/Asset\ 15.png);
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: center;
    color: var(--color-white);
    padding: 16px;
}
.freelancer-pricing>h2{
    line-height: 40px;
}
.text-box{
    background-color:var(--color-white);
    color: var(--color-white-1);
    padding: 16px;
    border-radius: 32px;
    width: 430px;
    display: grid;
    grid-template-areas: 'text text .'
                            '. . button';
}
.text-box>p{
    font-size: var(--link-size);
    font-weight: var(--link-weight);
    line-height: var(--link-lineheight);
    grid-area: text;
}
.text-box>button{
    grid-area: button;
}


/* Freelancer Container Ends */

/* Price Card */
.section-6{
    background-image: url(./images/Backgrounds/card-background.png);
    background-size: 100%;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 16px;
    padding: 16px;
}
.price-card-container{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 16px;
}
.basic-card, .business-card{
    padding: 32px;
    border: 2px solid var(--color-white-1);
    border-radius: 16px;
    gap: 8px;
    width: 380px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
}
.popular{
    background-color: #63D354;
    color: #828282;
    border-radius: 0px 16px 0 16px;
    display: inline-block;
    position: relative;
    left: 65.4%;
    top: 68px;
    padding: 16px 8px;
}
.basic-card>p, .business-card>p{
    color: #828282;
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
}
.business-card>ol, .basic-card>ol{
    color: #828282;
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
}
.compare{
    display: inline-block;
    width: 100%;
    margin: auto;
    color: var(--color-primary);
    text-align: center;
    font-size: 14px;
    margin: 16px;
}
/* pice card */

/* Reviews */
.section-7{
    
    background-image: url(./images/Backgrounds/review\ background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.review-container{
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin: 32px auto;
    gap: 32px;
    height: auto;
    align-items: center;
    text-align: left;
}
.review-title{
    width: 60%;
}
.review-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 16px auto;  
}
.reviews{
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 32px;
    border: 1px solid var(--color-white-1);
    gap: 16px;
    background-color: var(--color-white);
    min-width: 330px;
    max-width: 335px;
}
.review-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-picture>img{
    width: 72px;
    height: 72px;
    border-radius: 100%;
}

/* Reviews */



/* Awards */
.trusted-container{
    padding: var(--padding-2);
    margin: var(--padding-2);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: calc(var(--padding-2)*2);
}
.awards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--padding-2)*2);
    align-items: center;
}

/* Awards */


/* Last Section */
.container-last-section{
    display: flex;
    flex-direction: column;
    gap: var(--padding-2);
    padding: calc(var(--padding-2)*2);
    margin: calc(var(--padding-2)*2) auto;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 16px;
    background: 
    radial-gradient(ellipse at left, #9CC822, transparent),
    radial-gradient(ellipse at bottom, #34B224, transparent),
    radial-gradient(ellipse at bottom, #34B224, transparent),
    radial-gradient(ellipse at right, #63D354, transparent);
     color: #FFFFFF;
}
/* Last Section */



/* Footer */
.footer-main-container{
    width: 90%;
    margin: var(--padding-2) auto;
    padding: var(--padding-2);
    background-color: #181818;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.footer-container>div{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-container p{
    color: var(--color-white-1);
}
.footer-links{
    color: var(--color-white);
    list-style: none;
    line-height: 22px;
    font-weight: 100;
}
.socials{
    display: flex;
    gap: var(--padding);
    justify-content: space-evenly;
    gap: 32px;
    flex-wrap: wrap;
}
.follow-us, .download-app{
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    color: var(--color-white-1);
    align-items: center;
    justify-content: flex-start;
    padding: calc(var(--padding-2)*2);
    width: 35%;
}
.socials img{
    width: auto;
    min-height: 35px;
    max-height: 40px;
}
.foot-note{
    display: flex;
    width: 1400px;
    gap: var(--border-radius);
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: var(--border-radius);
    color: var(--color-white);
}
.foot-note :nth-child(1){
    color: var(--color-white-1);
}

/* Footer */







/* Effects */
/* Hover */

.has-hover:hover .header-hover{ 
    display: flex;
    align-items: center;
    gap: var(--padding);
    
}



/* Click Effect */